.slidercontents,
.slidercontents2,
.slidercontents3,
.slidercontents4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* 반응형 높이 설정 */
  height: 85vh; /* 화면 높이의 70%로 설정 */
  min-height: 300px; /* 화면이 너무 작은 경우 최소 높이를 300px로 설정 */
  max-height: 1000px; /* 화면이 너무 큰 경우 최대 높이를 1100px로 설정 */
}

.slidercontents {
  background-image: url(../assets/img/mainSilde01.jpg);
}

.slidercontents2 {
  background-image: url(../assets/img/mainSilde02.jpg);
}

.slidercontents3 {
  background-image: url(../assets/img/mainSilde03.jpg);
}

.slidercontents4 {
  background-image: url(../assets/img/mainSilde04.jpg);
}

.wrapText {
  background-color: rgba(255, 255, 255, 0.7); /* 배경에 반투명 검정색 추가 */
  color: black; /* 텍스트 색상 */
  padding: 20px; /* 내부 여백 */
  min-width: 40%; /* 최대 너비 40%로 제한 */
  max-width: 60%; /* 최대 너비 60%로 제한 */
  border-radius: 10px; /* 둥근 모서리 */
}
